@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.inputs{margin: 7px;margin-bottom: 20px;}
.detailContainer{border: 1px solid gray;width: 35%; color: gray;display: inline-block;}
.detailContainer Button{background-color: blue; color: white;border: none;}

.listContainer{display: inline-block; width: 54%;position: absolute;right: 60px;}
.cards{width: 100%; margin: 30px;}

#nextBtn{float: right;}
.traversButtons{border: none; background-color: blue; color: white; width: 80px; height: 25px;}